button {
    background-color: rgb(8, 231, 8);
    font-weight: 500;
}

li {
    list-style-type: none;
}

ul button {
    background-color: lightpink;
    font-size: 10pt;
    margin-top: 10px;
}

li button {
    border: none;
    background-color: transparent;
    color: red;
    font-size: .75rem;
    font-weight: bold;
}
