body {
  background-color: lightcyan;
  padding: 20px;
}

h1 {
  text-align: center;
  color: darkgreen;
  min-width: 100%;
}

h2 {
    color: darkgreen;
    font-size: 12pt;
    font-weight: bold;
    margin-top: 50px;
}

input {
  min-width: 75%;
}

button {
  background-color: rgb(8, 231, 8);
  border-radius: 4px;
  font-weight: 500;
}

button:hover {
  background-color: whitesmoke;
}

li {
  list-style-type: none;
}

ul button {
  background-color: lightpink;
  font-size: 10pt;
  margin-top: 10px;
}

li button {
  border: none;
  background-color: transparent;
  color: gray;
  font-size: 0.75rem;
  font-weight: bold;
  margin-left: 10px;
}

li button:hover {
  color: red;
  background-color: lightpink;
}

.text-success {
  font-style: italic;
  font-weight: bold;
}
